<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Excluir</div>
            <div class="panel-body">
                <h1 class="display-4">Suporte</h1>
                <hr />

                <p>Está com dúvidas ou precisa de suporte? Entre em contato conosco pelos nossos canais de suporte.</p>

                <h6>E-mail: suporte@siga.app.br</h6>
            </div>
        </div>
    </div>
</div>