@{
    ViewData["Title"] = "Suporte";
}

<div>
    <h1 class="display-4">Suporte</h1>
    <hr />
        
    <p>Está com dúvidas ou precisa de suporte? Entre em contato conosco pelos nossos canais de suporte.</p>

    <h6>E-mail: suportesiga@adaz.com.br</h6>
</div>

