@model int

@{
    var httpStatusCode = Model;
    var mensagem = "";

    switch (httpStatusCode)
    {
        case 400:
            mensagem = "Ação não autorizada.";
            break;

        case 404:
            mensagem = "Página não encontrada.";
            break;

        case 500:
            mensagem = "Erro no servidor. O servidor não conseguiu completar sua requisição. Tente novamente.";
            break;

        default:
            mensagem = "Ocorreu um erro inesperado durante sua requisição! Tente novamente ou entre em contato com nosso suporte.";
            break;
    }
}

<style>
    .error-template {
        padding: 40px 15px;
        text-align: center;
    }

    .error-actions {
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .error-actions .btn {
            margin-right: 10px;
        }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="text-danger">
                    Oops!
                </h1>
                <h2 class="text-dark">
                    Erro @Model
                </h2>
                <div class="error-details">
                    <h3>@mensagem</h3>
                </div>
                <div class="error-actions">
                    <a asp-controller="Home" asp-action="Privacy" class="btn-link">Suporte</a>
                </div>
            </div>
        </div>
    </div>
</div>
