@model SigaApp.Models.Entidades.ContaReceber

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Cadastrar Conta a Receber</div>
            <div class="panel-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Status" type="hidden" />

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label asp-for="DataVencimento" class="control-label"></label>
                            <input asp-for="DataVencimento" class="form-control " />
                            <span asp-validation-for="DataVencimento" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="Competencia" class="control-label"></label>
                            <input asp-for="Competencia" class="form-control " />
                            <span asp-validation-for="Competencia" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="ClienteID" class="control-label"></label>
                            <div class="input-group">
                                <select asp-for="ClienteID" class="form-control " asp-items="@(new SelectList(ViewBag.ListaClientes, "ClienteID", "RazaoSocial"))">
                                    <option value="">-- Selecione --</option>
                                </select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="right" title="Adicionar Cliente" onclick="MostrarModalCR();"> + </button>
                                </span>
                            </div>
                            <span asp-validation-for="ClienteID" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="TipoDocumento" class="control-label"></label>
                            <select asp-for="TipoDocumento" class="form-control ">
                                <option value="">-- Selecione --</option>
                                <option value="0">Nota Fiscal</option>
                                <option value="1">Cupom Fiscal</option>
                                <option value="2">Documento Fiscal</option>
                                <option value="3">Recibo</option>
                                <option value="4">Comprovante</option>
                            </select>
                            <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="NumeroDocumento" class="control-label"></label>
                            <input asp-for="NumeroDocumento" class="form-control " />
                            <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label asp-for="CentroDeCustoID" class="control-label"></label>
                            <select asp-for="CentroDeCustoID" class="form-control " asp-items="@(new SelectList(ViewBag.ListaCentroDeCusto, "CentroCustoID", "Nome"))">
                                <option value="">-- Selecione --</option>
                            </select>
                            <span asp-validation-for="CentroDeCustoID" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="FormaPagamento" class="control-label"></label>
                            <select asp-for="FormaPagamento" class="form-control ">
                                <option value="">-- Selecione --</option>
                                <option value="0">Dinheiro</option>
                                <option value="1">Cheque</option>
                                <option value="2">Débito em Conta</option>
                                <option value="3">Boleto</option>
                                <option value="4">Transferência Bancária</option>
                                <option value="5">Cartão de Crétido</option>
                                <option value="6">Cartão de Débito</option>
                            </select>
                            <span asp-validation-for="FormaPagamento" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="CategoriaID" class="control-label"></label>
                            <select id="categoria" asp-for="CategoriaID" onchange="CarregarSubCategorias();" class="form-control " asp-items="@(new SelectList(ViewBag.ListaCategorias, "CategoriaID", "Nome"))">
                                <option value="">-- Selecione --</option>
                            </select>
                            <span asp-validation-for="CategoriaID" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="SubCategoriaID" class="control-label"></label>
                            <select id="subCategoria" asp-for="SubCategoriaID" class="form-control " asp-items="@(new SelectList(ViewBag.ListaSubCategorias, "CategoriaID", "Nome"))">
                                <option value="">-- Selecione --</option>
                            </select>
                            <span asp-validation-for="SubCategoriaID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label asp-for="Recorrente" class="control-label"></label>
                            <select asp-for="Recorrente" class="form-control " id="flagRecorrente" onchange="DefinirRecorrente();">
                                <option value="false">Não</option>
                                <option value="true">Sim</option>
                            </select>
                            <span asp-validation-for="Recorrente" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label asp-for="Valor" class="control-label"></label>
                            <input asp-for="Valor" class="form-control  money2" />
                            <span asp-validation-for="Valor" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label asp-for="Desconto" class="control-label"></label>
                            <input asp-for="Desconto" class="form-control  money2" />
                            <span asp-validation-for="Desconto" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label asp-for="Juros" class="control-label"></label>
                            <input asp-for="Juros" class="form-control  money2" />
                            <span asp-validation-for="Juros" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 mb-3">
                            <label asp-for="Multa" class="control-label"></label>
                            <input asp-for="Multa" class="form-control  money2" />
                            <span asp-validation-for="Multa" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control " />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label asp-for="Observacoes" class="control-label"></label>
                            <textarea asp-for="Observacoes" class="form-control "></textarea>
                            <span asp-validation-for="Observacoes" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-sm btn-primary" />
                        <a asp-action="Index" class="btn btn-sm btn-dark">Voltar</a>
                    </div>
                </form>

                <div class="modal fade" id="modalClienteCR" tabindex="-1" role="dialog" aria-labelledby="modalClienteLabelCR" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalClienteLabelCR">Adicionar Cliente</h5>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="txtCliente" class="col-form-label">Razão Social:</label>
                                        <input type="text" class="form-control" id="txtCliente">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary" id="btnSalvarClienteCR">Salvar</button>
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function MostrarModalCR() {
            $(".modal").modal();

            $("#btnSalvarClienteCR").on('click', function () {
                var txtCliente = $("#txtCliente").val();

                $.ajax({
                    url: "/Clientes/AdicionarCliente",
                    method: "POST",
                    data: { txtCliente: txtCliente },
                    success: function (data) {
                        if (!data) {
                            $(".modal").modal('hide');
                            $(".modal").modal('dispose');
                            $("#btnSalvarClienteCR").unbind('click');
                            $("#txtCliente").val("");
                            alert("Cliente já cadastrado");
                            location.reload(true);
                        }
                        else location.reload(true);
                    }
                });
            });
        }
    </script>
}