@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGA - Gestão Audiovisual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        body {
            background: #f1f4f7;
            color: #444444;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Site" asp-action="PaginaInicial" class="navbar-brand">AppSIGA - Gestão Audiovisual</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Site" asp-action="PaginaInicial">Home</a></li>
                    <li><a asp-controller="Site" asp-action="Funcionalidades">Funcionalidades</a></li>
                    <li><a asp-controller="Site" asp-action="Contrate">Contrate</a></li>
                </ul>

                <a asp-controller="Usuario" asp-action="Login" type="button" class="btn btn-sm btn-warning navbar-btn navbar-right"><b>Acessar</b></a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row" style="margin-top:90px">
            <p class="alert alert-info" style="text-align:center; font-size:16px;">
                Controle toda sua empresa e seu fluxo de produção de uma forma simples e intuitiva. 
                O AppSIGA é especializado em gestão de empresas do ramo audiovisual, seja ela uma produtora de áudio, vídeo ou publicitária. 
                Conheça algumas de nossas funcionalidades.
            </p>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-md-6">
                <div class="thumbnail">
                    <img class="abrirModal" src="~/img/Dashboard.png" />
                    <div class="caption">
                        <h3>Dashboard</h3>
                        <p>Um Dashboard completo com um resumo das informações mais importantes para começar o dia. Faturamento, Orçamentos e próximas Contas a Pagar e Receber.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <img class="abrirModal" src="~/img/Orcamentos.png" />
                    <div class="caption">
                        <h3>Orçamentos</h3>
                        <p>Elabore orçamentos completos com todos os custos de produção envolvidos, desde serviços até custos com terceiros. Exporte para pdf e já envie para seu cliente.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <img class="abrirModal" src="~/img/Atendimento.png" />
                    <div class="caption">
                        <h3>Atendimento</h3>
                        <p>Cadastre clientes, fornecedores, funcionários, cargos, serviços prestados, contas bancárias, lançamentos financeiros, utilização de estúdios e muito mais.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <img class="abrirModal" src="~/img/Relatorio.png" />
                    <div class="caption">
                        <h3>Relatórios</h3>
                        <p>Obtenha relatórios dinâmicos montados em tempo real. Precisa de um relatório mais específico? É só entrar em contato conosco e nos informar de seua necessidade.</p>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="row" style="margin-top:15px">
            <h3 style="text-align:center">Contato</h3>
            <h5 style="text-align:center"><b>E-mail:</b> contato@appsiga.com.br</h5>
            <h5 style="text-align:center"><b>Whatsapp:</b> (81) 98804.7062</h5>
        </div>

        <hr />
        <footer>
            <p>&copy; 2020 - AppSIGA. Sistema de Gestão Audiovisual</p>
        </footer>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Galeria</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="col-md-6">
                            <img src="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @*<script>
        $(".abrirModal").click(function () {
            var url = $(this).find("img").attr("src");
            $("#myModal img").attr("src", url);
            $("#myModal").modal("show");
        });
    </script>*@
</body>
</html>

